<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-brand">Visualdave Angular Core Demo</div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <button routerLink="startup" class="m-1 btn btn-dark btn-outline-primary" Button>Main Page</button>
          <button routerLink="home" class="m-1 btn btn-dark btn-outline-primary" Button>Custom Core API</button>
          <button routerLink="card" class="m-1 btn btn-dark btn-outline-primary" Button>External API</button>
        </li>
      </ul>
    </div>
    <div class="navbar-nav ml-auto align-baseline">
      <a class="m-1 btn btn-dark btn-outline-primary" target="_blank" href="https://github.com/visualdavenet">Code On Github</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
