<div class="container pt-3">
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Username</th>
        <th>Age</th>
        <th>Phone</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dataItem of PeopleList.results">
        <td><img class="rounded-circle" src="{{ dataItem.picture.medium }}"></td>
        <td>{{ dataItem.name.first }} {{ dataItem.name.last }}</td>
        <td>{{ dataItem.login.username }}</td>
        <td>{{ dataItem.dob.age }}</td>
        <td>{{ dataItem.phone }}</td>
        <td><a href="mailto:{{ dataItem.email }}">{{ dataItem.email }}</a></td>
      </tr>
    </tbody>
  </table>
</div>
